body {
    padding-top: 75px;
}

.wbdv-bottom-right-10px {
    position: fixed;
    bottom: 10px;
    right: 40px;
    box-snap: center;
}

.wbdv-hamburger {
    margin-bottom: 0px;
}

.wbdv-course-manager {
}

.wbdv-new-course {
    margin-bottom: 0px;
    cursor: text;
}

.wbdv-add-course {
    cursor: grab;
}

.wbdv-title {
}

.wbdv-owner {
}

.wbdv-last-modified {
}

.wbdv-grid-layout{
    color: black;
}

.wbdv-list-layout {
    color: black;
}

.wbdv-sort {
    color: black;
}

.wbdv-course {
    font-weight: normal;
}

.wbdv-course-title {
    font-weight: bold;
}

.wbdv-icon {

}

.wbdv-owner {
}

.wbdv-modified-date {

}

.wbdv-delete {
    color: white;
}