.wbdv-username {
    cursor: text;
}

.wbdv-password {
    cursor: text;
}

.wbdv-logout {

}

.wbdv-phone {
    cursor: text;
}

.wbdv-email {
    cursor: text;
}

.wbdv-dob {

}

.wbdv-role {

}

.wbdv-update {

}