.wbdv-user-row-template {
    text-align: left;
    color: dimgrey;
}

.wbdv-username-field {
    color: darkblue;
}

.wbdv-password-field {
    color: darkblue;
}

.wbdv-first-name-field {
    color: darkblue;
}

.wbdv-last-name-field {
    color: darkblue;
}

.wbdv-role-field {
    user-select: inherit;
}

.wbdv-username {
}

.wbdv-password {
}

.wbdv-first-name {
}

.wbdv-last-name {
}

.wbdv-role {
}

.wbdv-controls {
}

.wbdv-remove {
    margin: 2px;
}

.wbdv-create {
    margin: 2px;
}

.wbdv-update {
    margin: 2px;
}

.wbdv-edit {
    margin: 2px;
}

.wbdv-search {
    margin: 2px;
}